@model FootballMatchesDemo.ViewModels.TeamView
<h2>Add Team</h2>

<form id="AddTeamForm" asp-controller="Teams" asp-action="AddTeam">

    <div>

        <fieldset>
            <legend>Team info</legend>

            <div>
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name"></span>
            </div>

            <div>
                <label asp-for="@Model.Trainer.FirstName"></label>
                <input asp-for="@Model.Trainer.FirstName" />
                <span asp-validation-for="@Model.Trainer.FirstName"></span>
            </div>

            <div>
                <label asp-for="@Model.Trainer.LastName"></label>
                <input asp-for="@Model.Trainer.LastName" />
                <span asp-validation-for="@Model.Trainer.LastName"></span>
            </div>

            <fieldset>
                <legend>Player/s info</legend>

                <div>
                    <label asp-for="@Model.Player.FirstName"></label>
                    <input asp-for="@Model.Player.FirstName" />
                    <span asp-validation-for="@Model.Player.FirstName"></span>
                </div>

                <div>
                    <label asp-for="@Model.Player.LastName"></label>
                    <input asp-for="@Model.Player.LastName" />
                    <span asp-validation-for="@Model.Player.LastName"></span>
                </div>

                @{
                    if (Model.Players.Count > 0)
                    {
                        <table style="width: 500px">

                            <thead>
                                <tr>
                                    <th style="text-align: right">Player ID</th>
                                    <th style="text-align: right">First Name</th>
                                    <th style="text-align: right">Last Name</th>
                                    <th style="text-align: right">Actions</th>
                                </tr>
                            </thead>

                            @for (int i = 0; i < Model.Players.Count; ++i)
                            {
                                <tr>
                                    <td style="text-align: right">
                                        @Model.Players[i].ID
                                        <input asp-for="@Model.Players[i].ID" type="hidden" />
                                    </td>
                                    <td style="text-align: right">
                                        @Model.Players[i].FirstName
                                        <input asp-for="@Model.Players[i].FirstName" type="hidden" />
                                    </td>
                                    <td style="text-align: right">
                                        @Model.Players[i].LastName
                                        <input asp-for="@Model.Players[i].LastName" type="hidden" />
                                    </td>
                                    <td style="text-align: right">
                                        <a asp-controller="Teams" 
                                           asp-action="EditPlayer" 
                                           asp-route-id="@Model.Players[i].ID" 
                                           class="btn btn-primary">Edit</a>
                                        <button id="DeleteBtn" type="submit" 
                                                asp-controller="Teams" 
                                                asp-action="DeletePlayer" 
                                                class="btn btn-primary">Delete</button>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }

                <div>
                    <button asp-controller="Teams" asp-action="AddPlayer" type="submit" class="btn btn-default">Add Player</button>
                </div>
            </fieldset>


        </fieldset>

        <hr />
        <div>
            <button class="btn btn-default" type="submit">Add Team</button>
            <span style="color: red">
                @if (Model.ErrorMessage != null && Model.ErrorMessage.Length > 0)
                {
                    @Model.ErrorMessage;
                }
            </span>
        </div>

    </div>

</form>