@using System.Globalization;
@model Menu

<h2>@Model.RestorantName</h2>

<div class="container">
    <table class="table">
        
        <thead>
            <tr>
                <th>Pizza</th>
                @{ 
                    foreach(var size in Model.Sizes)
                    {
                        <th>@size.ToString()</th>
                    }
                }
            </tr>
        </thead>

        <tbody>

            @{ 
                foreach(var pizza in Model.Pizzas)
                {
            <tr>
                <td>
                    <h4>@pizza.Name</h4>
                    <p>@pizza.Description</p>
                </td>

                <td>
                    @pizza.getPrize(SizeEnum.Small).ToString("C", new CultureInfo("mk-MK"));
                </td>

                <td>
                    @pizza.getPrize(SizeEnum.Medium).ToString("C", new CultureInfo("mk-MK"));
                </td>

                <td>
                    @pizza.getPrize(SizeEnum.Large).ToString("C", new CultureInfo("mk-MK"));
                </td>

            </tr>
                }
            }

        </tbody>

    </table>
</div>

